.guide-area {
  background-color: #d6e6e6;
}
.page-nav{
  padding: 10px 20px;
  margin: 0;
  background-color: #b2dfdb;
  color: #004d40;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.guide-img-box {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 300px;
  overflow: hidden;
}

.img {
  min-height: 300px;
  width: 100%;
  object-fit: cover;
}

.guide-content-box {
  padding: 20px;
}

.content-title {
  text-align: center;
  color: #009688;
  font-family: 'Ownglyph_meetme-Rg', sans-serif;
  margin: 30px 0;
}