body {
  background-color: #e0f2f1;
}

.shelter-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-bottom: 50px;
}

.shelter-cards {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .shelter-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .shelter-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .shelter-cards {
    grid-template-columns: 1fr;
  }
}

.pagination {
  font-family: "Ownglyph_meetme-Rg", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  border-radius: 15px;
  margin: 0 5px;
  padding: 8px 20px;
  border: 1px solid #ddd;
  background-color: #52a9a9;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 20px;
  transition: ease 0.3s;
}

.pagination-button.active {
  background-color: #acc9c9;
  color: #fff;
}

.pagination-button:hover {
  background-color: #1c7777;
}

.next-button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  margin: 0 10px;
  color: #52a9a9;
  transition: ease 0.3s;
}

.next-button:hover {
  color: #1c7777;
}

.next-button:disabled {
  cursor: not-allowed;
  color: rgb(156, 178, 177);
}

.shelter-textbox {
  background-color: #4c9e9e;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 900px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.shelter-paw {
margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.paw-icon {
  color: #fff;
  font-size: 50px;
  margin: 0 25px;
}

.shelter-title {
  font-family: "Ownglyph_meetme-Rg", sans-serif;
  color: #fff;
  font-size: 50px;
  text-align: center;
  margin: 0;
}

.shelter-des {
  color: #bdf3ee;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .shelter-title {
    font-size: 1.5rem; 
  }

  .shelter-des {
    font-size: 1rem;
  }
}
