.animal-card {
  border: 1px solid #9f9e9e;
  border-radius: 10px;
  width: 250px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.animal-card .animal-card-regisDate {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  position: absolute;
  top: 0;
  right: 20px;
  background-color: #009688;
  color: white;
  padding: .2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 10;
}

.animal-card .animal-card__image {
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: lightgray;
  position: relative;
}

.animal-card .animal-card__image::after {
  content: '';
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.animal-card .animal-card__content {
  height: 100%;
  padding: 1rem;
  background-color: white;
}

.animal-card .animal-card__content .card__type-age {
  font-family: 'Ownglyph_meetme-Rg', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.animal-card .animal-card__content .card__age {
  font-size: 1.3rem;
  letter-spacing: .1rem;
  margin-left: 1rem;
  color: gray;
}

.animal-card .animal-card__content .card__location {
  margin-bottom: .5rem;
  font-size: 1.1rem;
}

.animal-card .animal-card__content .card__location__title {
  color: rgb(100, 100, 100);
  font-weight: 600;
  margin-right: .8rem;
}

.animal-card .animal-card__content .card__location__content {
  font-weight: 500;
}

.animal-card .animal-card__content .card__description {
  font-size: 1.1rem;
  display: flex;
}

.animal-card .animal-card__content .card__description__title {
  display: block;
  color: rgb(100, 100, 100);
  font-weight: 600;
  margin-right: .8rem;
  width: 60px;
}
/* 하트 아이콘을 이미지 안의 오른쪽 하단에 배치 */
.animal-card .animal-card__image .favorite-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
}

@media screen and (max-width: 992px) {
  .animal-card {
    width: 180px;
  }

  .animal-card .animal-card__image {
    height: 180px;
  }

  .animal-card .animal-card__content .card__type-age {
    font-size: 1.5rem;
  }

  .animal-card .animal-card__content .card__type {
    font-size: 1.3rem;
  }

  .animal-card .animal-card__content .card__age {
    font-size: 1.1rem;
    margin-left: .5rem;
  }

  .animal-card .animal-card__content .card__location {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }

  .animal-card .animal-card__content .card__description {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 460px) {
  .animal-card {
    width: 250px;
  }

  .animal-card .animal-card__image {
    height: 250px;
  }
}