.shelter-detail {
  text-align: center;

}

.shelter-detail h1,
.shelter-detail h2,
.shelter-detail h3 {
  margin-bottom: 10px; /* 제목 간격 조절 */
}

.shelter-detail p {
  margin: 10px 0; /* 문단 간격 조절 */
}

.shelter-basic-info,
.shelter-hours,
.shelter-system,
.shelter-location {
  margin-bottom: 20px; /* 각 섹션 간격 조절 */
}

.paw-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paw-name h1 {
  margin-left: 10px;
}

.shelter-basic-info {
    background-color: rgb(251, 255, 255);
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 8px 8px 9px 5px #95bab8;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .shelter-basic-info {
        width: 90%;
        padding: 15px;
    }
}

.shelter-hours {
    background-color: rgb(251, 255, 255);
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 8px 8px 9px 5px #95bab8;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .shelter-hours {
        width: 90%;
        padding: 15px;
    }
}

.shelter-system {
    background-color: rgb(251, 255, 255);
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 8px 8px 9px 5px #95bab8;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .shelter-system {
        width: 90%;
        padding: 15px;
    }
}

.shelter-location {
    background-color: rgb(251, 255, 255);
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 8px 8px 9px 5px #95bab8;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .shelter-location {
        width: 90%;
        padding: 15px;
    }
}





