.shelter-detail {
  text-align: center;
}

.font-paw {
  font-size: 35px;
}

.paw-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
  color: rgb(10, 142, 124);
}

.paw-name h1 {
  margin-left: 10px;
  font-family: "Ownglyph_meetme-Rg", sans-serif;
  font-size: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.shelter-detail h2{
    margin-bottom: 20px;
    margin-top: 15px;
    font-family: "Ownglyph_meetme-Rg", sans-serif;
    font-size: 40px;
    color: rgb(9, 154, 154);
}

.shelter-detail p {
  margin: 10px 0;
  font-size: 20px;
  color: #436669;
}

.shelter-basic-info {
  background-color: rgb(251, 255, 255);
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 8px 8px 9px 5px #95bab8;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .shelter-basic-info {
    width: 90%;
    padding: 15px;
  }
}

.shelter-hours {
  background-color: rgb(251, 255, 255);
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 8px 8px 9px 5px #95bab8;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .shelter-hours {
    width: 90%;
    padding: 15px;
  }
}

.shelter-system {
  background-color: rgb(251, 255, 255);
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 8px 8px 9px 5px #95bab8;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .shelter-system {
    width: 90%;
    padding: 15px;
  }
}

.shelter-location {
  background-color: rgb(251, 255, 255);
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 8px 8px 9px 5px #95bab8;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .shelter-location {
    width: 90%;
    padding: 15px;
  }
}

.rooms, .workers{
    display: flex;
    gap: 80px;
    margin-bottom: 15px;
}

.shelter-error{
  margin-top: 80px;
  text-align: center;
  margin-bottom: 80px;
  font-family: "Ownglyph_meetme-Rg", sans-serif;
  font-size: 40px;
  color: rgb(9, 154, 154);
}
