@font-face {
  font-family: "Ownglyph_meetme-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.banner-box {
  max-width: 800px !important;
  margin: 0 auto;
}

.carousel-item {
  position: relative;
  width: 100%;
  /* 기본 비율 16:9 유지 */
  padding-top: 56.25%;
  background-color: #e0f2f1;
  border-radius: 100px 100px 0 0;
  overflow: hidden; /* 컨테이너 밖으로 넘는 내용 숨김 */
}

/* 배너 이미지 */
.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  border-radius: 30px;
}
