@font-face {
  font-family: "Ownglyph_meetme-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Carousel 전체 */
.carousel-item {
  position: relative;
  font-family: "Ownglyph_meetme-Rg", sans-serif;
  background-color: #e0f2f1;
  border-radius: 100px 100px 0 0;
  padding: 20px;
}

/* 이미지를 보여주는 div */
.banner {
  border-radius: 30px;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  aspect-ratio: 16 / 9; /* 16:9 비율 유지 */
}

/* text와 subText */
.banner-text {
  margin: 20px;
  position: absolute;
  max-width: 390px;
  right: 20px; /* 오른쪽 끝에 위치 */
  top: 50%; /* 세로 중앙에 위치 */
  text-align: right; /* 텍스트 오른쪽 정렬 */
}

.banner-text h2 {
  font-size: 50px;
}

.banner-text span {
  font-size: 30px;
}

/* 반응형 */
@media screen and (max-width: 599px) {
}

@media (min-width: 600px) and (max-width: 899px) {
}

@media (min-width: 900px) and (max-width: 1199px) {
}

@media (min-width: 1200px) and (max-width: 1535px) {
}

@media (min-width: 1536px) {
}
