.home-animal-search {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(224, 242, 241);
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.home-animal-search-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #b2dfdb; */
  border-radius: 20px;
  margin: 0 0 30px 0;
}

.home-animal-search-title {
  font-family: 'Ownglyph_meetme-Rg', sans-serif;
  font-weight: 500;
  color: #009688;
  margin: 0;
}

.home-animal-search-content {
  font-size: 1.2rem;
  font-weight: 600;
  color: gray;
}