.home-animal-search {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: white;
  box-sizing: border-box;
  width: 65%;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 2rem;
  position: relative;
}

.gradient-box-left {
  background: linear-gradient(to right, rgba(255, 255, 255, 1), transparent);
  position: absolute;
  left: 0;
  width: 70px;
  height: 100%;
  z-index: 10;
}

.gradient-box-right {
  background: linear-gradient(to left, rgba(255, 255, 255, 1), transparent);
  position: absolute;
  right: 0;
  width: 70px;
  height: 100%;
  z-index: 10;
}

.home-animal-search-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem 1rem 2rem;
  gap: 2rem;
  border: 3px solid #b2dfdb;
  border-radius: 10px;
  z-index: 20;
}

.home-animal-search-title {
  font-family: 'Ownglyph_meetme-Rg', sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  color: black;
  letter-spacing: .1rem;
}

.home-animal-search-content {
  font-size: 1.2rem;
  font-weight: 600;
  color: gray;
}

@media screen and (max-width: 1200px) {
  .home-animal-search-description {
    margin: 2rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    padding: .5rem 0;
  }
}

@media screen and (max-width: 768px) {
  .home-animal-search {
    width: 100%;
  }

  .home-animal-search-title {
    font-size: 2rem;
  }

  .home-animal-search-content {
    font-size: 1rem;
  }
}