@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.footer {
  background-color: #26a69a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.footer-logo1 {
  width: 180px;
  height: 45px;
  margin: 5px;
}

.web-img {
  width: 60px;
  height: 45px;
  margin: 10px 20px;
}

.footer-logo1 {
  width: 180px;
  height: 45px;
  margin: 10px;
}

.text-logo {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .footer-logo1 {
    width: 120px;
    height: 37px;
    margin: 5px;
  }
  .web-img {
    width: 50px;
    height: 35px;
    margin: 10px;
  }
  .text-logo {
    font-size: 8px;
  }
}

@media screen and (max-width: 768px) {
  .footer-logo1 {
    width: 130px;
    height: 38px;
    margin: 5px;
  }
  .web-img {
    width: 55px;
    height: 38px;
    margin: 10px;
  }
  .text-logo {
    font-size: 9px;
  }
}

@media screen and (max-width: 992px) {
  .footer-logo1 {
    width: 142px;
    height: 40px;
    margin: 5px;
  }
  .web-img {
    width: 60px;
    height: 42px;
    margin: 10px;
  }
  .text-logo {
    font-size: 10px;
  }
}
