.home-area {
  background-color: #e0f2f1;
}

.home-img-area {
  position: relative;
}

.home-img-box {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 400px;
  overflow: hidden;
  margin-bottom: 30px;
  transition: all 200ms;
}

.home-img {
  min-height: 300px;
  width: 100%;
  object-fit: cover;
}

.home-content-area {
  padding: 20px;
}

.home-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 20px;
  background-color: #009696;
  z-index: 40;
  position: absolute;
  margin: 0 20px;
  left: 0;
  bottom: 0;
}

.home-content-box h1 {
  text-align: center;
  font-family: 'Ownglyph_meetme-Rg', sans-serif;
  color: #e0f2f1;
}

.home-content-box p {
  text-align: center;
  color: #e0f2f1;
  padding: 0 200px;
  word-break: keep-all;
}


.div-empty {
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 992px) {
  .home-img-box {
    height: 300px;
  }

  .home-content-box p {
    padding: 0;
  }


}






@media screen and (min-width: 768px) {
  .home-content-box {
    margin: 0 40px;
  }
}

@media screen and (min-width: 922px) {
  .home-content-box {
    margin: 0 60px;
  }
}

@media screen and (min-width: 1200px) {
  .home-content-box {
    margin: 0 80px;
  }
}

@media screen and (min-width: 1400px) {
  .home-content-box {
    margin: 0 100px;
  }
}

.home-paw{
  font-size: 35px;
  margin-bottom: 10px;
  color: white;
}