.not-found-page {
  height: 100vh;
  background-color: #d6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.not-found-icon-box {
  position: relative;
  margin-bottom: 10px;
}

.not-found-icon {
  font-size: 160px;
  color: #009688;
}

.not-found-404 {
  color: #e0f2f1;
  font-size: 30px;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translateX(-50%);
}

.not-found-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found-page h1 {
  font-family: 'Ownglyph_meetme-Rg', sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
  color: #009688;
  margin: 0 0 2px 0;
}

.not-found-page p {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(103, 103, 103);
  margin-bottom: 2.5rem;
  padding: 0 0 14px 0;
}

.not-found-page button {
  padding: .8rem 1.6rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #009688;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  align-self: center;
}

.not-found-page button:hover {
  background-color: #4db6ac;
}

.not-found-page button:active {
  background-color: #ffffff;
  color: #009688;
}